body {
    padding: 5%;
    background-color: #EFD9B9;
}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    position: static;
    padding: 10px;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Comic Sans MS;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    text-decoration: underline;
    font-family: Comic Sans MS;
}
h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    font-family: Comic Sans MS;
}
.main_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 8%;
}
.sub_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 8%;
}

ul {
    text-align: center;
    padding: 3%;
}
li {
    display: inline-block;
    list-style-type: none;
    font-family: Comic Sans MS;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}
a {
    text-decoration: none;
    font-size: 80%;
    font-family: Comic Sans MS;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    background-color: lightsalmon;
    padding: 7px;
}
.selected {
    font-weight: bold;
    text-decoration: underline;
    background-color: black;
    color: lightsalmon;
}
p {
    font-family: Comic Sans MS;
    font-size: 75%;
    text-align: center;
}
.pet_gallery{
    margin-top: 10%;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-bottom: 10%;
}

.pet_gallery img {
    width: 100%;
}
.likes_ul {
    padding: 0%;
}
.likes_ul li {
    margin-top: 0%;
}
ol {
    text-align: center;
    padding: 3%;
}
.recipe_gallery {
    margin-top: 10%;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-bottom: 10%;
}
.recipe_gallery img {
    width: 100%;
}
.third {
    grid-column: 1 / 3;
}

@media (prefers-reduced-motion) {
    .gif{
        width: 0%;
        height: 0%;
    }
}